<div class="content">
  <h1> {{ sideName }} </h1>
  <button *ngIf="checked" class="pull-right-item" md-raised-button>Löschen</button>
  <div class="search">
    <i class="material-icons login-icon">search</i>
    <form>
      <input placeholder="Suche.." value="a" name="searchText" [(ngModel)]="searchText">
    </form>
  </div>
  <table cellspacing="0" cellpadding="20">
    <tr>
      <th></th>
      <th></th>
      <th><a>Stufe</a></th>
      <th><a>Name</a></th>
      <th></th>
    </tr>
    <tr class="table-hover" *ngFor="let class of class | searchfilter : searchText; let i= index">
      <td>
        <md-checkbox (click)="CheckboxCheck(i);" class="checkbox pull-left"></md-checkbox>
      </td>
      <td class="initalen"><button class="pull-left" md-mini-fab>{{ class.level }} {{ class.name}}</button></td>
      <td><a>{{class.level}}</a></td>
      <td><a>{{class.name}}</a></td>
      <td><button class="options" md-icon-button [mdMenuTriggerFor]="menu">
  <md-icon class="design-font-color">more_vert</md-icon>
</button>
        <md-menu #menu="mdMenu">
          <button (click)="editClass(i)" md-menu-item>
    <md-icon>edit</md-icon>
    <span>Bearbeiten</span>
  </button>
          <button (click)="deleteClass(i)" md-menu-item>
    <md-icon>delete</md-icon>
    <span>Löschen</span>
  </button>
        </md-menu>
      </td>
    </tr>
  </table>
  <div class="placeholder"></div>
</div>