<div class="demo-cards mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing">
  <!--hello works!

  <input [(ngModel)]="name" required>
  <p>Value: {{ name }}</p>

  <button (click)="setValue()">Set value</button>


  <p>Value Service : {{ dataService }}</p> -->

<h2>Studenten</h2>
  <div *ngIf="current">
    <h2>Infos zu {{current.name}}</h2>
    <input [(ngModel)] ="current.name" />
    <input [(ngModel)] ="current.lastName" />
    <input [(ngModel)] ="current.id" />
    <input type="checkbox"  [(ngModel)]="current.active" name="check1" id="check1"/><label for="check1">aktiv</label>
    <br>
    <label for="kurse">Kurse</label>
    <select multiple id="kurse" [(ngModel)]="current.courses" >
      <option *ngFor="let c of dataService.courses" [ngValue]="c.name">{{c.name}}</option>
    </select>
    <br>
    <button (click)="update()" [disabled] = "!current.name || !current.lastName" >Speichern</button>
    <button (click)="remove()">Löschen</button>
    <button (click)="cancel()">Abbrechen</button>
  </div>
    <div *ngIf="!current">
    <ul >
      <li *ngFor="let s of dataService.students; let i = index" >
        <button (click)="edit(s)" class="">{{(i+1)}} - {{s.name}} {{s.lastName}}</button>
    </ul>
    <br>
    <div>
      <input type="text" [(ngModel)]="name" />
      <input type="button" (click) = "addStudent()" value="Add"/>
      <p>Value: {{name}}</p>
    </div>
  </div>
</div>
