<div class="logo">
    <a href="../#/dashboard">
            <img class="logo-img" src="assets/img/classify_purple.png" />

    </a>
</div>
<div class="divider"></div>
        <ul class="nav">
            <li >
                <a class="item"[routerLink]="['/content/home']" routerLinkActive="active">
                    <i class="material-icons sidebar-icon">dashboard</i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li >
                <a class="item"[routerLink]="['/content/teacher']" routerLinkActive="active">
                    <i class="material-icons sidebar-icon">school</i>
                    <p>Lehrer</p>
                </a>
            </li>
              <li >
                <a class="item"[routerLink]="['/content/student']" routerLinkActive="active">
                    <i class="material-icons sidebar-icon">person</i>
                    <p>Schüler</p>
                </a>
            </li>
             <li >
                <a class="item"[routerLink]="['/content/class']" routerLinkActive="active">
                    <i class="material-icons sidebar-icon">storage</i>
                    <p>Klassen</p>
                </a>
            </li>
            <li >
                <a class="item"[routerLink]="['/content/note']" routerLinkActive="active">
                    <i class="material-icons sidebar-icon">note</i>
                    <p>Notizen</p>
                </a>
            </li>
        </ul>
        